# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Large datasets
data/
US_Accidents_March23.csv

# Generated datasets
cleaned_US_Accidents.csv
feature_engineered_US_Accidents.csv
encoded_US_Accidents.csv
scaled_US_Accidents.csv
production_ready_US_Accidents.csv

# Optional
*.log